        body {
            font-family: Arial, sans-serif;
            display: flex;
            background-color: whitesmoke;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }

        .container {
            background-color: #fff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            display: flex;
            overflow: hidden;
            width: 80%;
        }

        .left-side {
            flex: 1;
            background-image: url('/images/admin.jpg');
            background-size: cover;
            background-position: center;
            object-fit: cover;
            border-radius: 10px;
        }

        .right-side {
            flex: 1;
            padding: 20px;
        }

        h2 {
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            font-size: 3rem;
            margin-bottom: 50px;
            text-align: center;
        }

        .input-group {
            margin-bottom: 15px;
            background-color: rgb(223, 223, 223);
            box-shadow: 0 0 2px black;
            border-radius: 4px;
            padding-left: 10px;
            display: flex;
            align-items: center;
        }

        .input-group label {
            cursor: pointer;
            font-size: 1rem;
            display: block;
            margin-bottom: 5px;
            width: 30%;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        }

        .input-group input {
            width: 70%;
            padding: 10px;
            border: none;
            border-radius: 0 4px 4px 0;
        }

        .input-group input:focus {
            outline: none;
            border: 1px solid #007bff;

        }

        button {
            margin-top: 20px;
            width: 100%;
            padding: 10px;
            background-color: #007bff;
            border: none;
            border-radius: 4px;
            color: #fff;
            font-size: 16px;
            cursor: pointer;
        }

        button:hover {
            background-color: #0056b3;
        }

        #message {
            display: none;
            text-align: center;
            margin-top: 15px;
            padding: 10px;
            background-color: red;
            border: none;
            border-radius: 4px;
            color: #fff;
            font-size: 12px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            cursor: pointer;
        }

        .register-link {
            margin-top: 20px;
            text-align: center;
            display: block;
            color: #007bff;
            text-decoration: none;
            font-size: 14px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }

        .register-link:hover {
            text-decoration: underline;
        }

        @media screen and (max-width: 800px) {
            .container {
                flex-direction: column;
                width: 100%;
                height: 100%;
            }

            .left-side {
                height: 300px;
                background-size: cover;
                background-position: center;
                margin-top: 20px;
            }

            .right-side {
                padding: 20px;
            }

            h2 {
                font-size: 2rem;
            }
        }